header {
    font-family: 'Poppins', sans-serif;
}
header {
    .carousel-inner {
        .item {
            height: 100vh;
        }
    }
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    .navbar-brand{
        color: #fff;
        font-size: 40px;
        padding: 40px 15px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
    }
    .navbar-nav {
        li {
            a {
                color: #fff;
                text-transform: uppercase;

            }
        }
    }
}


.navbar-right {
            margin: 25px 0;
        }


.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.carousel-caption {
    padding-bottom: 250px;
    font-family: 'Poppins', sans-serif;
    
    h2 {
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;
        
        span {
            color: #edbb00;
        }
    }
    a {
        background: #edbb00;
        padding: 15px 35px;
        display: inline-block;
        margin-top: 15px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 25px;
        transition: 0.5s;
    }

    a:hover{
        text-decoration: none;
        background-color: #ac8805;
    }

}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-indicators {
    .active {
        background: #edbb00;
        border-color: #edbb00;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}
